# Java & Maven
target/
*.class
*.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Maven
.mvn/
.settings/

# Others
*.tmp
*.bak